<!DOCTYPE html>
<html>
  <head>
    <title>FClone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- MAIN NAV -->
    <%= render 'layouts/main_nav' %>
    <!-- POSTS -->
    <div id="content">
      <%= render 'post/post_template' %>
      <!-- end content -->
      <!-- menu -->
    </div>
    <%= yield %>
  </body>
</html>